.action-bar {
  width: 100%;
  padding: 30px;
  background: #F2F8FE;
  display: flex;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;

  .input-field {
    display: flex;
    padding: 12px 15px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #EAEAEF;
    background: #FFF;

    input {
      flex: 1;
      border: none;

      &:focus {
        outline: none;

      }
    }
  }

  button {
    display: flex;
    padding: 11px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #144D92;
    cursor: pointer;
    color: #FFF;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: none;
  }
}