@import "../../assets/sass/mixins";
@import '../../assets/sass/variables';

.page-button {
  @include flex(center, flex-start, 10px, row, nowrap);
  width: 230px;
  padding: 10px 20px 10px 15px;
  border: none;
  background: none;
  cursor: pointer;
  color: $color-primary-blue;
  font-size: 14px;

  &.active {
    border-radius: 10px;
    background: $color-primary-blue;
    color: white;
  }


}