@import "../../assets/sass/mixins";
@import '../../assets/sass/variables';

.page-button {
  @include flex(center, flex-start, 10px, row, nowrap);
  padding: 10px 20px 10px 15px;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font-size: 14px;
}