@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

footer {
  @include flex(center, center, 0px, row, nowrap);
  background-color: #74C69D;
  height: 125px;
  margin-top: 54px;

  .footer-section {
    @include flex(center, space-between, 0px, row, wrap);

    @include md() {
      justify-content: center;
      gap: 20px;
      flex-direction: column;
    }

    @include sm() {
      justify-content: center;
      gap: 20px;
      flex-direction: column;
    }
  }

  .social-media {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .footer-section {
    p {
      color: #FFF;
      font-size: 1.25rem;
    }
  }
}