* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
  min-width: 375px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0px;
}

header {
  background: #74C69D;
}

.section-one {
  margin: 0px auto;
  width: 100%;
  max-width: 1180px;
  min-width: 375px;
  padding: 0px 20px;
}

nav.mobile-nav {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 35px;
  color: #FFF;
}

.title-div {
  display: flex;
  align-items: center;
  gap: 18px;
}

.logo > img {
  width: 70px;
  height: 48px;
}

.company-title a {
  font-size: 2.5em;
}

.nav-menu ul {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 1.25em;
  margin: 0px;
  padding: 0px;
}

.description {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 120px;
  margin-top: 40px;
  padding-bottom: 82.87px;
}

.description .ds-image {
  width: 100%;
  max-width: 644px;
}

.ds-image{
  max-width: 600px;
}

.ds-image img {
  width: 100%;
}

.description-box {
  width: 100%;
  max-width: 416px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.desc-inner-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.heading {
  color: #FFF;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.heading,
.sub-heading,
.content{
  word-break: break-word;
}

.sub-heading {
  color: #FFF;
}

.sub-heading{
  font-family: "Crimson Text", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
}

.content {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.9375em;
}

.button {
  padding: 13px 48px 10px 48px;
  border-radius: 5px;
  border: none;
  word-wrap: break-word;
  word-break: break-word;
}

.explore-button {
  color: #000;
  font-size: 1.25em;
  font-weight: 400;
  background: #FFF;
}

.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  width: 100%;
  margin: 60px auto 0px;
  padding: 0px 20px;
}

.partners-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 411px;
}
.pb-title {
  color: #74C69D;
  text-align: center;
}

.pb-subtitle {
  color: #000;
  text-align: center;
}

.pb-description {
  color: #000;
  text-align: center;
  font-size: 1.25em;
  font-weight: 400;
}

.partner-images {
  display: flex;
  flex-wrap: wrap;
  gap: 68px;
  justify-content: center;
  align-items: center;
}

.partners-button {
  background: #212529;
  color: #FFF;
  text-align: center;
  font-size: 1.25em;
  padding: 13px 29.5px 10px 29.5px;
  font-weight: 400;
  font-style: normal;
}

.section-three {
  display: flex;
  width: 100%;
  max-width: 1180px;
  justify-content: space-between;
  align-items: center;
  margin: 73px auto 0px;
  padding: 0px 20px;
}

.section-three img,
.section-four img {
  width: 100%;
  max-width: 600px;
}

.sec-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  padding-left: 20px;
  max-width: 470px;
}

.sb-title {
  color: #212529;
}

.sb-description {
  color: rgba(33, 37, 41, 0.50);
  font-size: 0.9375em;
  padding-bottom: 20px;
}

.sec-box>p {
  margin: 0px;
}

.section-four {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 73px auto;
  width: 100%;
  max-width: 1180px;
  padding: 0px 20px;
}

.section-five {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  width: 100%;
  max-width: 1176px;
  margin: 102.27px auto;
  margin-bottom: 0px;
}

.section-five .partner-images .people .photo svg {
  border: 1px solid black;
  border-radius: 50%;
}

.section-five .partner-images {

  gap: 47px;
}

.section-five .partner-images .people {
  display: inline-flex;
  flex-direction: column;
  gap: 19px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  padding: 20px 25px 19px 25px;
}

.section-five .partner-images .people .people-frame {
  text-align: center;
}

.section-five .partner-images .people .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
}

.section-five .partner-images .people .title .name {
  color: #212529;
  font-family: "Crimson Text", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

.section-five .partner-images .people .title .designation {
  color: rgba(33, 37, 41, 0.75);
  font-size: 0.975em;
  font-weight: 400;
  width: 202px;
}

.section-five .peoples-button {
  padding: 13px 29.5px 10px 29.5px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #74C69D;
  margin-top: 54px;
  margin-bottom: 0px;
  padding-top: 51px;
  padding-bottom: 49px;
}

.footer-section {
  display: flex;
  width: 1178px;
  height: 25px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-section>p {
  color: #FFF;
  font-size: 1.25em;
  font-weight: 400;
}

.mobile-nav-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  color: #fff;
}

@media(min-width: 768px) and (max-width: 1023px) {
  .company-title a {
    font-size: 2.1875em;
  }


  .logo>img {
    height: 40px;
  }

  .sub-heading {
    font-size: 1.75em;
  }

  .description {
    gap: 30px;
  }

  .section-two{
    margin-top: 40px;
  }

  .section-five .partner-images {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }

}

@media(max-width: 767px) {
  nav.desktop-nav {
    display: none;
  }

  nav.mobile-nav {
    display: flex;
    padding-top: 17px;
  }

  .nav-menu ul {
    flex-direction: column;
    text-align: center;
    gap: 0px;
  }

  .nav-menu ul li {
    border-bottom: 1px solid #fff;
    padding: 10px;
  }

  .title-div {
    gap: 10px
  }

  .sub-heading {
    font-size: 1.75em;
  }

  .company-title a {
    font-size: 1.875em;
  }

  .logo>img {
    width: 40px;
    height: 31.5px;
  }

  .partner-images {
    flex-direction: column;
    gap: 40px;
  }

  .description {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 40.39px;
    margin-top: 32px;
  }

  .description-box{
    min-width: 335px;
  }

  .ds-image {
    min-width: 335px;
  }

  .section-two{
    margin-top: 20px;
  }

  .pb-subtitle{
    font-size: 1.5em;
  }

  .section-three{
    flex-direction: column;
    gap: 30px;
  }

  .section-three-image{
    width: 100%;
    max-width: 335px;
  }

  .section-three .sec-box {
    padding: 0px ;
    min-width: 334px;
    gap: 20px
  }

  .section-four{
    flex-direction: column;
    gap: 30px;
    margin-top: 60.12px;
    margin-bottom: 40px;
  }

  .section-five{
    margin: 0px;
    padding: 0px 20px;
  }
  .section-five .partner-images {
    gap: 35px;
  }

  .footer-section{
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .peoples-button{

  }

}

@media (min-width:767px) {
  .mobile-nav-menu{
    display: none;
  }
}

/* < 767 mobile
  768 to 1023 tablets
  1024 > desktop
*/