.sectionTabs {

  display: flex;
  flex-direction: column;

  .tabs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 36px 30px;

    .tabs-menu {

      display: flex;
      gap: 30px;

      .item {

        display: flex;
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .icon {

          // svg {
          fill: #78909C;
          // }
        }

        .name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-transform: capitalize;
          color: rgba(3, 26, 50, 0.80);

          .entries {
            color: #78909C;
            display: flex;
            gap: 10px;
            text-transform: lowercase;
          }
        }
      }

    }
  }

  .list-section {
    margin-left: 14px;
  }
}