* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--bs-black);
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}


/* NAVBAR */

nav {
  padding: 12px 18px;
  background: #FFF;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
  position: relative;
  z-index: 1;
}

nav .page-title {
  gap: 19px;
}

nav .logo {
  width: 114px;
  height: 25px;
}

nav .title {
  color: #797775;
  font-size: 1.313rem;
  font-weight: 600;
}

nav .divider {
  background: #808080;
  width: 1px;
  height: 100%;
}

nav .nav-link {
  gap: 20px;
}

nav .help {
  gap: 14px;
}

nav .help .feedback {
  color: var(--bs-black);
  font-size: 0.75rem;
  opacity: 0.55;
}

nav .help .help-icon {
  border: none;
  background: none;
}

nav .user-info {
  gap: 20px;
}

nav .user-control {
  gap: 20px;
}

nav .name-plaque span:first-child {
  font-size: 0.813rem;
  font-weight: 600;
}

nav .name-plaque span:last-child {
  font-size: 0.688rem;
  opacity: 0.6;
}

nav .dropdown-icon {
  width: 9.75px;
  fill: #000;
  opacity: 0.6;
}


/* LEFT MENU */

.left-section {
  padding: 25px 0px;
  gap: 15px;
  width: 22%;
}

.left-section .side-link {
  font-weight: 600;
  width: 100%;
  padding: 10px 0px 10px 30px;
  border: none;
  background: none;
  gap: 8px;
  opacity: 0.5;
}

.left-section .side-link.c-active {
  opacity: 1;
  border-left: 3px solid #007EDF;
  background: rgba(0, 0, 0, 0.04);
}

.left-section .side-link .icon {
  width: 15px;
  height: 15px;
}

/* MAIN CONTENT */

.content {
  background: #F6F7FA;
  width: 78%;
  height: 100vh;
  padding: 30px 42px 0px 31px;

}

.content .heading {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.content .heading .title {
  font-size: 26px;
}

.content .c-btn-comp {
  margin-top: 20px;
  gap: 8px;
  margin-bottom: 36px;
  padding-left: 0;
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
}

.content .c-btn-comp .icon {
  width: 22px;
  height: 22px;
}

.content .c-btn-comp .name {
  color: rgba(0, 120, 212, 0.90);
  font-size: 1.125rem;
  font-weight: 600;
}

.content .table {
  --bs-table-bg: #F6F7FA;
}

.content .table-responsiv .dropdown {
  position: relative;
  display: inline-block;
}

.content .table-responsiv .dropdown-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.content .table-responsiv .dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 160px;
  padding: var(--Small, 2px) 0px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.content .table-responsiv .dropdown-content a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.content .table-responsiv .dropdown-content a:hover {
  background-color: #C7E0F4;
}

.content .table tbody {
  --bs-table-color: #888;
}

.content td:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content td:last-child img {
  width: 18px;
  height: 18px;
}

/* MODAL */


.modal .modal-content {
  border: none;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
}

.modal .modal-body {
  padding: 0;
}

.modal .form-section {
  display: flex;
  height: 634px;
  flex-shrink: 0;
  overflow: hidden;
}

.modal .create-section {
  max-width: 40%;
  width: 100%;
  padding: 30px 0px;
  flex-shrink: 1;
  align-self: stretch;
  background: #F0F0F0;
}

.modal .info-section {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.modal .title-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.modal .title {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}

.modal .description {
  line-height: 24px;
  /* 150% */
  opacity: 0.6;
  margin: 0;
}

.modal .tab-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-left: -30px;
}

.modal .tab-section .side-link {

  color: #A19F9D;
  font-weight: 600;
  width: 100%;
  padding: 10px 0px 10px 30px;
  border: none;
  gap: 8px;
}

.modal .tab-section .side-link.c-active {
  padding: 10px 0px 10px 26px;
  opacity: 1;
  border-left: 3px solid #007EDF;
  color: #007EDF;
}

.modal .tab-section .side-link.hide {
  display: none;
}

.modal .save-section {
  margin-left: -16px;
  display: flex;
  /* height: 50px; */
  padding: 0px 30px;
  align-items: flex-end;
  gap: 4px;
  align-self: stretch;
}

.modal .create-btn {
  display: flex;
  padding: 6px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: var(--grey-palette-black, #000);
  text-align: center;

  /* SegoeUI Semibold / 18 - ms-fontSize-18 FontSizes.size18 */
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 133.333% */
}

.modal .cancel-btn {
  display: flex;
  padding: 6px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: var(--grey-palette-grey-190, #201F1E);
  text-align: center;

  /* SegoeUI Regular / 18 - ms-fontSize-18 FontSizes.size18 */
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 133.333% */
}

.modal .tab-content-section {
  display: flex;
  padding: 30px 24px;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
  overflow-y: scroll;
}

.modal .detail-section {
  width: 100%;
}

.modal .detail-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.modal .detail-info>span {
  font-size: 26px;
  font-weight: 600;
  opacity: 0.8;
}

.modal .divider {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
}

.modal .detail-info .customer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.modal .detail-info .customer-info label {
  display: flex;
  padding: 5px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;

  color: var(--grey-palette-grey-190, #201F1E);
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 111.111% */
}

.modal .detail-info .customer-info span {
  color: var(--grey-palette-grey-130, #605E5C);
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.modal .detail-info .customer-info input[type="text"] {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: var(--Small, 2px);
  border: 1px solid var(--grey-palette-grey-110, #8A8886);
  background: var(--grey-palette-white, #FFF);

  color: var(--grey-palette-grey-190, #201F1E);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

.modal .detail-info .brand-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Medium, 4px);
  align-self: stretch;
}

.modal .detail-info .brand-info label {
  color: var(--grey-palette-grey-190, #201F1E);
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 111.111% */
}

.modal .detail-info .brand-info input[type="text"] {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: var(--Small, 2px);
  border: 1px solid var(--grey-palette-grey-110, #8A8886);
  background: var(--grey-palette-white, #FFF);
  color: var(--grey-palette-grey-190, #201F1E);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

.modal .detail-info .retail-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Medium, 4px);
  align-self: stretch;
}

.modal .detail-info .retail-info label {
  color: var(--grey-palette-grey-190, #201F1E);
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 111.111% */
}

.modal .detail-info .retail-info input[type="text"] {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  border-radius: var(--Small, 2px);
  border: 1px solid var(--grey-palette-grey-110, #8A8886);
  background: var(--grey-palette-white, #FFF);
}

.modal .detail-info .retail-info input::placeholder {
  color: var(--grey-palette-grey-90, #A19F9D);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

.modal .detail-info .retail-info .option-box {
  display: flex;
  padding: 14px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: var(--Small, 2px);

  border: 1px solid var(--grey-palette-grey-110, #8A8886);
  background: var(--grey-palette-white, #FFF);
  gap: 13px;
}

.modal .detail-info .retail-info .option-box label {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--grey-palette-grey-190, #201F1E);

  /* SegoeUI Regular / 16 - ms-fontSize-16 FontSizes.size16 */
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}

.modal input[type="checkbox"] {

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 2px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked {
  border: none;
  background-image: url('../images/checkBoxFill.svg');
}

.modal .detail-info .store-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.modal .detail-info .store-info label {
  color: var(--grey-palette-grey-190, #201F1E);
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 111.111% */
}

.modal .detail-info .store-info .option-box {
  display: flex;
  padding: 14px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: var(--Small, 2px);

  border: 1px solid var(--grey-palette-grey-110, #8A8886);
  background: var(--grey-palette-white, #FFF);
  gap: 13px;
}

.modal .detail-info .store-info .option-box label {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--grey-palette-grey-190, #201F1E);

  /* SegoeUI Regular / 16 - ms-fontSize-16 FontSizes.size16 */
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}

.modal .detail-info .store-info .option-box input[type="checkbox"] {
  min-width: 18px;
  min-height: 18px;
}

.modal .detail-info .store-info .option-box .selection-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  align-self: stretch;
}

.modal .detail-info .store-info .option-box .selection-box span {
  color: var(--grey-palette-grey-190, #201F1E);
  opacity: 0.4;
  /* SegoeUI Regular / 16 - ms-fontSize-16 FontSizes.size16 */
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}

.modal .detail-info .region-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Medium, 4px);
  align-self: stretch;
}

.modal .detail-info .region-info label {
  display: flex;
  padding: 5px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Small, 2px);
  align-self: stretch;

  color: var(--grey-palette-grey-190, #201F1E);
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 111.111% */
}

.modal .detail-info .region-info input {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.modal .detail-info .data-info {
  display: flex;
  width: 430px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.modal .detail-info .data-info>label {
  display: flex;
  padding: 5px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Small, 2px);
  align-self: stretch;

  color: var(--grey-palette-grey-190, #201F1E);
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 111.111% */
}

.modal .detail-info .data-info>label span {
  color: var(--grey-palette-grey-130, #605E5C);
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.modal .detail-info .data-info .data-btn {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.modal .detail-info .data-info .data-btn>label {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  color: var(--grey-palette-grey-190, #201F1E);

  /* SegoeUI Regular / 16 - ms-fontSize-16 FontSizes.size16 */
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}

.modal .detail-info .data-info .data-btn input[type="radio"] {
  width: 20px;
  height: 20px;
}

/* SPECIFICATION-SECTION */



.modal .specification-section {
  width: 100%;
}

.modal .specification-section .spec-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.modal .spec-info .title {
  color: #000;
  font-family: Segoe UI;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modal .spec-info .description {
  display: flex;
  padding: 5px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Small, 2px);
  align-self: stretch;
}

.modal .spec-info .description .heading {
  color: var(--grey-palette-grey-190, #201F1E);
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 111.111% */
}

.modal .spec-info .description .subtitle {
  color: var(--grey-palette-grey-130, #605E5C);
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.modal .spec-info .box {
  width: 100%;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  border-radius: var(--Small, 2px);
  border: 1px solid var(--grey-palette-grey-110, #8A8886);
  background: var(--grey-palette-white, #FFF);
}

.modal .spec-info .box .box-headers {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 55px;
  margin-bottom: 10px;
}

.modal .spec-info .box .box-headers span:first-child {
  width: 50%;
  color: rgba(32, 31, 30, 0.70);
  font-family: Segoe UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 166.667% */
}

.modal .spec-info .box .box-headers span:last-child {
  color: rgba(32, 31, 30, 0.70);

  /* SegoeUI Semibold / 12 - ms-fontSize-12 FontSizes.size12 */
  font-family: Segoe UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 133.333% */
}

.modal .spec-info .box .box-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.modal .spec-info .box-content .content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding-top: 10px;
  padding-bottom: 7px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.10);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.10);
}

.modal .spec-info .box-content .content-row .left-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

}

.modal .spec-info .box-content .content-row .left-content label {
  color: var(--grey-palette-grey-190, #201F1E);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modal .spec-info .box-content .content-row .right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  background: #F3F3F3;
  border: none;
  font-size: 14px;
}

.modal .spec-info .content-row .right-content .source-btn {

  color: var(--type-colors-primary, #323130);
  font-size: 14px;
  background: #F3F3F3;
  padding: 2px 10px;
  border-radius: 20px;
  border: none;
}

.modal .spec-info .content-row .right-content .source-btn.checked {
  background: #0078D4;
  color: #EFF6FC;
}

.modal .spec-info .content-row .right-content button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.modal .benefits-section {
  padding: var(--Medium, 4px) 0px;
  align-self: stretch;
  border-radius: 3px;
  border: 1px solid var(--light-fill-color-subtle-transparent, rgba(255, 255, 255, 0.00));
  background: var(--neutral-stroke-transparent-disabled-rest, rgba(255, 255, 255, 0.00));
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.modal .benefits-section .add-benefit {
  border: none;
  background: none;
  display: flex;
}

.modal .benefits-section .benefit-title {
  display: flex;
  padding-bottom: var(--Small, 0px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Small, 2px);
}

.modal .benefits-section .benefit-title span:first-child {
  color: var(--light-fill-color-text-primary, rgba(0, 0, 0, 0.90));
  text-align: center;
  font-feature-settings: 'rclt' off;
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
}

.modal .benefits-section .benefit-title span:last-child {
  color: var(--grey-palette-grey-130, #605E5C);
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.modal .currency-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Medium, 4px);
  align-self: stretch;
}

.modal .currency-section label {
  display: flex;
  padding: 5px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Small, 2px);
  align-self: stretch;

  color: var(--grey-palette-grey-190, #201F1E);
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 111.111% */
}

.modal .currency-section select {
  font-size: 16px;
  appearance: none;
  /* Remove default arrow in some browsers */
  cursor: pointer;

  display: flex;
  padding: 8px;
  align-self: stretch;
  border-radius: var(--Small, 2px);
  border: 1px solid var(--grey-palette-grey-110, #8A8886);
  background: #fff url('../images/down-arrow.svg') no-repeat right 10px center;
}

.modal .currency-section select>option {
  margin: 5px 0;
  border-radius: var(--Small, 2px);
  border: 1px solid var(--grey-palette-grey-110, #8A8886);
  background: var(--grey-palette-white, #FFF);
}

.modal .currency-section .custom-select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}