$black: #000000;
$white: #ffffff;
$neutral-100: #f3f4f6;
$neutral-200: #e5e7eb;
$neutral-300: #d1d5db;
$neutral-500: #6b7280;
$neutral-700: #374151;
$neutral-900: #111827;
$primary-100: #ede9fe;
$primary-300: #c4b5fd;
$primary-600: #7c3aed;
$secondary-100: #d5fafc;
$secondary-300: #75e3ea;
$secondary-600: #1db5be;
$primary-font: "Inter", sans-serif;
$minWidth: 375px;