$black: #000000;
$white: #ffffff;
$neutral-100: #f3f4f6;
$neutral-200: #e5e7eb;
$neutral-300: #d1d5db;
$neutral-500: #6b7280;
$neutral-700: #374151;
$neutral-900: #111827;
// $neutral-100: rgba($black, 5%);
// $neutral-200: rgba($black, 10%);
// $neutral-300: rgba($black, 20%);
// $neutral-500: rgba($black, 30%);
// $neutral-700: rgba($black, 60%);
// $neutral-900: rgba($black, 80%);
$primary-100: #ede9fe;
$primary-300: #c4b5fd;
$primary-600: #7c3aed;
$secondary-100: #d5fafc;
$secondary-300: #75e3ea;
$secondary-600: #1db5be;
$primary-font: "Inter", sans-serif;
$backgroundCoverColor: rgba(242, 247, 255, 0.7);
$minWidth: 375px;
$maxWidth: 1440px;

$screen-sm-min: 0;
$screen-md-min: 576px;
$screen-lg-min: 768px;
$screen-xl-min: 1024px;
$screen-xxl-min: 1361px;
$screen-sm-max: 575px;
$screen-md-max: 767px;
$screen-lg-max: 1023px;
$screen-xl-max: 1360px;
