.features-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0px auto;
  width: 100%;
  max-width: 1440px;
  padding: 96px 112px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .features-section {
    padding: 80px 40px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .features-section {
    padding: 80px 40px;
  }
}
@media screen and (min-width: 0) and (max-width: 575px) {
  .features-section {
    min-width: 375px;
    padding: 48px 20px;
    gap: 48px;
  }
}

.features-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 800px;
  word-break: break-word;
}
.features-header h1 {
  color: #111827;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.9px;
}
.features-header p {
  color: #111827;
  text-align: center;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .features-header h1 {
    font-size: 2.25em;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .features-header h1 {
    font-size: 2.25em;
  }
}
@media screen and (min-width: 0) and (max-width: 575px) {
  .features-header h1 {
    font-size: 2.25em;
  }
}

.features-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px 30px;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 0) and (max-width: 575px) {
  .features-list {
    flex-direction: column;
    gap: 48px;
  }
}

.features-list-single {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 384px;
  word-break: break-word;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .features-list-single {
    max-width: 329px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .features-list-single {
    max-width: 329px;
  }
}
@media screen and (min-width: 0) and (max-width: 575px) {
  .features-list-single {
    max-width: 329px;
  }
}

.features-list-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0px 16px;
}
.features-list-content h1 {
  color: #111827;
  text-align: center;
  font-size: 1.875em;
  font-weight: 700;
  line-height: 1.33;
}
.features-list-content p {
  color: #374151;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .features-list-content h1 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .features-list-content h1 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 0) and (max-width: 575px) {
  .features-list-content h1 {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=feature-section.css.map */