@import "./variables";
@import "./mixins";

.footer {
  @include flex(center, center, 0px, row, nowrap);
  margin: 0px auto;
  min-width: $minWidth;
  background: $black;

  @include media-lg {
    justify-content: space-between;
    align-items: flex-start;
  }

  @include media-md {
    justify-content: space-between;
    align-items: flex-start;
  }
}

.f-div {
  @include flex(flex-start, space-between, 0px, row, nowrap);
  padding: 64px 112px;
  width: 100%;
  max-width: $maxWidth;

  .left {
    @include flex(flex-start, center, 24px, column, nowrap);
    
  }

  .right {
    @include flex(flex-start, center, 16px, column, nowrap);
    word-break: break-word;

    h3 {
      color: $neutral-300;
      font-size: 1.125em;
      font-style: normal;
      font-weight: 500;
      line-height: 1.55;
    }

    @include media-lg {
      color: $neutral-300;
      font-size: 1.125em;
      font-weight: 500;
      line-height: 1.55;
    }

    @include media-md {
      color: $neutral-300;
      font-size: 1.125em;
      font-weight: 500;
      line-height: 1.55;
    }
  }

  @include media-lg {
    padding: 64px 40px;
  }

  @include media-md {
    padding: 64px 40px;
  }

  @include media-sm {
    padding: 40px 20px;
    flex-direction: column;
    gap: 32px;
  }
}

.downloads-menu {
  @include flex(flex-start, center, 12px, column, nowrap);
  color: $white;
  font-weight: 400;
  line-height: 1.5;

  .downloads-list {
    ul {
      @include flex(center, center, 24px, row, nowrap);
    }
  }

  .footer-menu {
    ul {
      @include flex(center, flex-start, (12px 24px), row, wrap);

      @include media-sm {
        justify-content: flex-start;
        flex-wrap: wrap;
        row-gap: 12px;
        column-gap: 24px;
      }
    }
  }
}

.copyright {
  color: $neutral-300;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.42;
}
