@import "./variables";
@import "./mixins";

.integrations-section {
  @include flex(flex-start, center, 0px, column, nowrap);
  margin: 0px auto;
  min-width: $minWidth;
  max-width: $maxWidth;
  padding: 80px 112px;

  > .is-div {
    @include flex(center, center, 32px, row, wrap);
    border-top: 1px solid $neutral-200;

    @include media-lg {
      align-items: flex-start;
    }

    @include media-md {
      align-items: flex-start;
    }

    @include media-sm {
      flex-direction: column;
      gap: 16px;
    }
  }

  @include media-lg {
    padding: 80px 40px;
    align-items: center;
  }

  @include media-md {
    padding: 80px 40px;
    align-items: center;
  }

  @include media-sm {
    padding: 40px 20px;
    align-items: center;
  }
}

.integrations-content {
  @include flex(flex-start, center, 8px, column, nowrap);
  width: 488px;
  padding: 40px 0px;
  word-break: break-word;

  h1 {
    color: $neutral-900;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -1.2px;
  }

  p {
    color: $neutral-900;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.55;
  }

  @include media-lg {
    width: 328px;
    padding: 20px 0px;

    h1 {
      font-size: 2.25em;
      letter-spacing: -0.9px;
    }
  }

  @include media-md {
    width: 328px;
    padding: 20px 0px;

    h1 {
      font-size: 2.25em;
      letter-spacing: -0.9px;
    }
  }

  @include media-sm {
    width: auto;
    padding: 20px 0px;

    h1 {
      font-size: 1.875em;
      line-height: 1.33;
    }

    p {
      font-size: 1.125em;
      line-height: 1.55;
    }
  }
}

.integrations-box {
  @include position(relative, 0);
  @include flex(center, center, 0px, row, nowrap);
  padding: 0px 78px;

  .vector-background {
    width: 540px;
    flex-shrink: 1;

    img {
      width: 100%;
    }
  }

  @include media-lg {
    padding: 0px;
    width: 328px;

    .vector-background {
      width: 100%;
      @include position(relative, 0);
    }
  }

  @include media-md {
    padding: 0px;
    width: 328px;

    .vector-background {
      width: 100%;
      @include position(relative, 0);
    }
  }

  @include media-sm {
    max-width: 335px;
    position: relative;
    padding: 0px;

    .vector-background {
      width: 100%;
      @include position(relative, 0);
    }
  }
}

.integrations-logos {
  @include flex(center, center, 64px, column, nowrap);
  @include position(absolute, 0);
  padding: 40px 0px 38px;

  .row-1 {
    @include flex(center, center, 64px, row, nowrap);
    .logo-div {
      max-width: 64px;
      max-height: 64px;

      img {
        width: 100%;
      }
    }
  }

  .row-2 {
    @include flex(center, center, 64px, row, nowrap);
    .logo-div {
      max-width: 64px;
      max-height: 64px;

      img {
        width: 100%;
      }
    }
  }

  @include media-lg {
    padding: 24px 28px 23px;
    position: absolute;
    top: 0px;
    left: 0px;
    gap: 39px;

    .row-1,
    .row-2 {
      gap: 39px;
      .logo-div {
        max-width: 40px;
        max-height: 40px;

        img {
          width: 100%;
        }
      }
    }
  }

  @include media-md {
    padding: 24px 28px 23px;
    position: absolute;
    top: 0px;
    left: 0px;
    gap: 39px;

    .row-1,
    .row-2 {
      gap: 39px;
      .logo-div {
        max-width: 40px;
        max-height: 40px;

        img {
          width: 100%;
        }
      }
    }
  }

  @include media-sm {
    padding: 25px 28px 24px 29px;
    position: absolute;
    top: 0px;
    left: 0px;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 38.99px;

    .row-1,
    .row-2 {
      gap: 39px;
      .logo-div {
        max-width: 40px;
        max-height: 40px;

        img {
          width: 100%;
        }
      }
    }
  }
}