$black: #000000;
$white: #ffffff;
$neutral-100: #f3f4f6;
$neutral-200: #e5e7eb;
$neutral-300: #d1d5db;
$neutral-500: #6b7280;
$neutral-700: #374151;
$neutral-900: #111827;
$primary-100: #ede9fe;
$primary-300: #c4b5fd;
$primary-600: #7c3aed;
$secondary-100: #d5fafc;
$secondary-300: #75e3ea;
$secondary-600: #1db5be;
$primary-font: "Inter", sans-serif;
$minWidth: 375px;

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: $black;
  font-family: $primary-font;
  font-size: 16px;
  font-style: normal;
}

header,
.client-section {
  margin: 16px auto;
  padding: 0px 20px;
}

header {
  display: flex;
  flex-direction: column;
  min-width: $minWidth;
}

h1,
h3,
p {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile {
  display: none;
}

.nav-menu {
  &.mobile {
    display: none;
  }
}

.show {
  display: block;
}

.header-buttons {
  gap: 16px;

  & .btn {
    padding: 16px 24px;
    border-radius: 8px;
    background: $primary-600;
    color: $white;
    border: none;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    font-feature-settings: "liga" off;
  }
  & .watch-btn {
    padding: 16px 24px;

    & a {
      display: flex;
      gap: 8px;
    }

    & span {
      color: $primary-600;
      font-size: 1em;
      font-weight: 600;
      line-height: 150%;
    }
  }
}

.divider {
  display: inline;
  width: 100%;
  height: 1px;
  background-color: $neutral-200;
}

.client-section {
  width: 100%;
  min-width: 375px;
  align-items: flex-start;

  & div.flex {
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 64px;
    margin: 24px auto;
  }
}

.features-section {
  & .features-header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & h1 {
      color: $neutral-900;
      text-align: center;
      font-size: 2.25em;
      font-weight: 700;
      line-height: 125%;
      letter-spacing: -0.9px;
    }

    & p {
      color: $neutral-900;
      text-align: center;
      font-size: 1.125em;
      font-style: normal;
      font-weight: 400;
      line-height: 155.556%;
    }
  }

  & .features-list {
    gap: 48px;

    & .features-list-single {
      gap: 24px;

      & .features-list-content {
        padding: 0px 16px;
        gap: 8px;

        & h1 {
          color: $neutral-900;
          text-align: center;
          font-size: 1.5em;
          font-weight: 700;
          line-height: 133.333%;
        }

        & p {
          color: $neutral-700;
          text-align: center;
          font-size: 1em;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }
}

.achievements-section {
  width: 100%;
  min-width: $minWidth;
  & .left-side {
    gap: 8px;
    & h1 {
      color: $neutral-900;
      font-size: 3em;
      font-weight: 700;
      line-height: 125%;
      letter-spacing: -1.2px;
    }
    & p {
      color: $neutral-900;
      font-size: 1.125em;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
    }
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .mobile-menu-icon {
    padding: 8px;
  }

  .nav-menu {
    &.mobile {
      display: none;
    }
  }
  .header-section {
    width: 100%;
    min-width: 335px;
    display: inline-flex;
    padding-bottom: 10px;
    align-items: center;
    gap: 40px;

    & .header-content {
      display: flex;
      padding: 40px 0px;
      align-items: flex-start;
      gap: 32px;
    }

    & .header-mobile {
      padding: 0px 7px 0px 8px;
      width: 335px;

      & img {
        width: inherit;
      }
    }
  }

  .header-content-description {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    & h1 {
      color: $neutral-900;
      font-size: 2.25em;
      font-weight: 700;
      line-height: 125%; /* 125% */
      letter-spacing: -0.9px;
    }
    & p {
      color: $neutral-700;
      font-size: 1.125em;
      font-weight: 400;
      line-height: 155.556%;
    }
  }

  .features-section {
    min-width: $minWidth;
    padding: 48px 20px;
    gap: 48px;
  }

  .stories-section {
    min-width: $minWidth;
    background: $secondary-100;
    padding: 80px 20px 48px 20px;
    gap: 32px;

    & .stories-section-title {
      width: 335px;
      align-items: flex-start;
      gap: 8px;

      & div {
        position: relative;

        & img {
          width: 96px;
          height: 78px;
          position: absolute;
          top: -32px;
          left: -8px;
        }

        & h1 {
          position: relative;
          z-index: 1;
          color: $neutral-900;
          font-size: 1.875em;
          font-weight: 700;
          line-height: 133.333%;
        }
      }

      & p {
        color: $neutral-900;
        font-size: 1em;
        font-weight: 400;
        line-height: 150%;
      }
    }

    & .story {
      align-items: flex-start;
      padding: 32px;
      gap: 32px;
      border-radius: 8px;
      background: $white;
      box-shadow: 0px 2px 4px -2px rgba(17, 24, 39, 0.06),
        0px 4px 8px -2px rgba(17, 24, 39, 0.1);

      & .content {
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;

        & .content-inside {
          align-items: flex-start;
          gap: 24px;
          flex: 1 0 0;

          & > p {
            color: $neutral-900;
            font-size: 1.125em;
            font-weight: 400;
            line-height: 155.556%;
          }

          & div {
            & h3 {
              color: $neutral-900;
              font-size: 1.125em;
              font-weight: 700;
              line-height: 155.556%;
            }
            & p {
              color: $neutral-500;
              font-size: 0.875em;
              font-weight: 400;
              line-height: 20px; /* 142.857% */
            }
          }
        }
      }
    }
  }

  .achievements-section {
    align-items: flex-start;
    flex-direction: column;
    padding: 48px 20px;
    gap: 48px;
    & .left-side {
      align-items: flex-start;
      gap: 8px;
      & h1 {
        color: $neutral-900;
        font-size: 1.875em;
        font-weight: 700;
        line-height: 125%;
        letter-spacing: -1.2px;
      }
      & p {
        color: $neutral-900;
        font-size: 1em;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
      }
    }

    & .right-side {
      gap: 24px;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;

      & .achieve-section {
        justify-content: flex-start;
        width: 100%;
        gap: 16px;

        & div {
          align-items: flex-start;

          & h1 {
            color: $neutral-900;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
          }

          & p {
            color: $neutral-900;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
          }
        }
      }
    }
  }

  .integrations-section {
    min-width: $minWidth;
    padding: 40px 20px;
    gap: 16px;

    & .integrations-content {
      padding: 20px 0px;
      align-items: flex-start;
      gap: 8px;

      & h1 {
        color: $neutral-900;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
      }

      & p {
        color: $neutral-900;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
      }
    }

    & .integrations-box {
      width: 100%;
      position: relative;

      & .vector-background {
        width: 100%;
        position: relative;

        & img {
          width: 100%;
        }
      }

      & .integrations-logos {
        padding: 25px 28px 24px 29px;
        position: absolute;
        top: 0px;
        left: 0px;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 38.99px;

        & img {
          width: calc((20/64) * 100)px;
        }
      }
    }
  }
}
