$black: #000000;
$white: #ffffff;
$neutral-100: #f3f4f6;
$neutral-200: #e5e7eb;
$neutral-300: #d1d5db;
$neutral-500: #6b7280;
$neutral-700: #374151;
$neutral-900: #111827;
$primary-100: #ede9fe;
$primary-300: #c4b5fd;
$primary-600: #7c3aed;
$secondary-100: #d5fafc;
$secondary-300: #75e3ea;
$secondary-600: #1db5be;
$primary-font: "Inter", sans-serif;
$minWidth: 375px;

* {
  box-sizing: border-box;
}

@mixin summaryPhoneOne($leftSide) {
  div:first-child.phone {
    left: $leftSide;
    // width: 100%;
    position: relative;

    img:first-child {
      z-index: 2;
      position: relative;
    }
    img:last-child {
      top: -0.5px;
      position: absolute;
    }
  }
}

@mixin summaryPhoneTwo($marginTop, $rightSide) {
  div:last-child.phone {
    margin-top: $marginTop;
    right: $rightSide;
    // width: 100%;
    position: relative;

    img:first-child {
      z-index: 2;
      position: relative;
    }
    img:last-child {
      top: 14px;
      position: absolute;
    }
  }
}

body {
  margin: 0px;
  color: $black;
  font-family: $primary-font;
  font-size: 16px;
  font-style: normal;
  background-color: $white;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  min-width: $minWidth;
  margin: 0px auto;
  padding: 20px 112px 74px;

  .header-section {
    align-items: flex-start;
    gap: 32px;
    margin-top: 72px;
  }
}
nav.desktop {
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  margin: 0px auto;

  .nav-menu-bar {
    display: flex;
    align-items: center;
    gap: 32px;

    .logo {
      width: 138px;
      height: 32px;
    }

    .nav-menu ul {
      gap: 8px;
      color: $neutral-900;
      font-size: 0.875em;
      font-weight: 600;
      line-height: 20px; /* 142.857% */
    }
  }

  .nav-apps {
    gap: 12px;
  }
}

.header-section {
  .header-content {
    padding: 96px 48px 0px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    max-width: 696px;

    .header-content-description {
      align-items: flex-start;
      gap: 16px;

      h1 {
        color: $neutral-900;
        font-size: 3.75em;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -1.5px;
      }

      p {
        color: $neutral-700;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
      }
    }
  }
}

h1,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile {
  display: none;
}

.tablet {
  display: none;
}

.nav-menu {
  &.mobile {
    display: none;
  }
}

.show {
  display: block;
}

.header-buttons {
  gap: 16px;

  .btn {
    padding: 16px 24px;
    border-radius: 8px;
    background: $primary-600;
    color: $white;
    border: none;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    font-feature-settings: "liga" off;
  }
  .watch-btn {
    padding: 16px 24px;

    a {
      display: flex;
      gap: 8px;
    }

    span {
      color: $primary-600;
      font-size: 1em;
      font-weight: 600;
      line-height: 150%;
    }
  }
}

.header-section {
  .header-mobile {
    position: relative;
    padding: 0px 84px;

    img:first-child {
      position: relative;
    }
    img:last-child {
      position: absolute;
      z-index: -1;
    }
  }
}

.divider {
  display: inline;
  width: 100%;
  height: 1px;
  background-color: $neutral-200;
}

.client-section {
  width: 100%;
  min-width: 375px;
  align-items: flex-start;
  padding: 16px 0px;

  div.flex {
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 64px;
    margin: 24px auto;
    padding: 16px 0px;
  }
}

.features-section {
  margin: 0px auto;
  width: 100%;
  max-width: 1440px;
  padding: 96px 112px;
  gap: 64px;

  .features-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 800px;

    h1 {
      color: $neutral-900;
      text-align: center;
      font-size: 3em;
      font-weight: 700;
      line-height: 125%;
      letter-spacing: -0.9px;
    }

    p {
      color: $neutral-900;
      text-align: center;
      font-size: 1.125em;
      font-style: normal;
      font-weight: 400;
      line-height: 155.556%;
    }
  }

  .features-list {
    row-gap: 64px;
    column-gap: 30px;
    flex-wrap: wrap;

    .features-list-single {
      gap: 24px;
      max-width: 384px;

      .features-list-content {
        padding: 0px 16px;
        gap: 8px;

        h1 {
          color: $neutral-900;
          text-align: center;
          font-size: 1.875em;
          font-weight: 700;
          line-height: 133.333%;
        }

        p {
          color: $neutral-700;
          text-align: center;
          font-size: 1em;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }
}

.stories-section {
  min-width: $minWidth;
  background: $secondary-100;
  padding: 120px 112px 120px 216px;

  > div {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1112px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;

    .stories-section-title {
      align-items: flex-start;
      gap: 8px;
      width: 488px;

      div {
        position: relative;

        img {
          width: 142px;
          height: 116px;
          position: absolute;
          top: -56px;
          left: -104px;
        }

        h1 {
          position: relative;
          z-index: 1;
          color: #111827;
          font-size: 3em;
          font-weight: 700;
          line-height: 125%;
          letter-spacing: -1.2px;
        }
      }
    }

    .story {
      align-items: flex-start;
      padding: 32px;
      gap: 32px;
      border-radius: 8px;
      background: $white;
      box-shadow: 0px 2px 4px -2px rgba(17, 24, 39, 0.06),
        0px 4px 8px -2px rgba(17, 24, 39, 0.1);

      .content {
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;

        .content-inside {
          align-items: flex-start;
          gap: 24px;
          flex: 1 0 0;

          > p {
            color: $neutral-900;
            font-size: 1.125em;
            font-weight: 400;
            line-height: 155.556%;
          }

          div {
            h3 {
              color: $neutral-900;
              font-size: 1.125em;
              font-weight: 700;
              line-height: 155.556%;
            }
            p {
              color: $neutral-500;
              font-size: 0.875em;
              font-weight: 400;
              line-height: 20px; /* 142.857% */
            }
          }
        }
      }
    }

    .story-one {
      margin-top: 76px;
      width: 488px;
    }
    .story-two {
      width: 384px;
      margin-left: 104px;
      margin-top: -207px;
    }
    .story-three {
      width: 320px;
    }
  }
}

.achievements-section {
  justify-content: flex-start;
  margin: 0px auto;
  max-width: 1440px;
  padding: 80px 112px;
  gap: 32px;
  width: 100%;
  min-width: $minWidth;

  .left-side {
    width: 100%;
    align-items: flex-start;
    gap: 8px;

    h1 {
      color: $neutral-900;
      font-size: 3em;
      font-weight: 700;
      line-height: 125%;
      letter-spacing: -1.2px;
    }
    p {
      color: $neutral-900;
      font-size: 1.125em;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
    }
  }

  .right-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 32px;
    width: 100%;
    .achieve-section {
      gap: 16px;
      justify-content: flex-start;
      width: 280px;

      .img {
        &.img {
          padding: 8px;
          gap: 10px;
        }
      }

      div {
        align-items: flex-start;

        h1 {
          color: $neutral-900;
          font-size: 2.25em;
          font-weight: 700;
          line-height: 125%;
          letter-spacing: -0.9px;
        }

        p {
          color: $neutral-900;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }
}

.integrations-section {
  margin: 0px auto;
  max-width: 1440px;
  padding: 80px 112px;
  align-items: flex-start;

  > div {
    flex-wrap: wrap;
    gap: 32px;
    border-top: 1px solid #e5e7eb;

    .integrations-content {
      width: 488px;
      padding: 40px 0px;
      align-items: flex-start;
      gap: 8px;

      h1 {
        color: $neutral-900;
        font-size: 3em;
        font-weight: 700;
        line-height: 60px; /* 125% */
        letter-spacing: -1.2px;
      }

      p {
        color: $neutral-900;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
      }
    }

    .integrations-box {
      position: relative;
      padding: 0px 78px;

      .vector-background {
        width: 540px;
        flex-shrink: 1;

        img {
          width: 100%;
        }
      }

      .integrations-logos {
        gap: 64px;
        position: absolute;
        padding: 40px 0px 38px;

        .row-1 {
          gap: 64px;
          .logo-div {
            max-width: 64px;
            max-height: 64px;

            img {
              width: 100%;
            }
          }
        }

        .row-2 {
          gap: 64px;
          .logo-div {
            max-width: 64px;
            max-height: 64px;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.summary-section {
  background: $secondary-600;
  padding: 0px 112px;

  > div {
    margin: 0px auto;
    width: 100%;
    max-width: 1440px;
    gap: 32px;
    flex-wrap: wrap;

    .summary-left {
      align-items: flex-start;
      gap: 48px;

      .title {
        width: 100%;
        max-width: 592px;
        align-items: flex-start;
        gap: 8px;

        h1 {
          color: $neutral-900;
          font-size: 3em;
          font-weight: 700;
          line-height: 60px; /* 125% */
          letter-spacing: -1.2px;
        }

        p {
          color: $neutral-900;
          font-size: 1.125em;
          font-weight: 400;
          line-height: 28px; /* 155.556% */
        }
      }

      .title-buttons {
        align-items: flex-start;
        gap: 8px;

        p {
          color: $neutral-900;
          font-size: 1.125em;
          font-weight: 500;
          line-height: 28px; /* 155.556% */
        }

        .store-buttons {
          align-items: flex-start;
          gap: 12px;
        }
      }
    }

    .summary-right {
      gap: 79px;
      width: 100%;
      max-width: 592px;
      justify-content: center;
      align-items: flex-start;
      @include summaryPhoneOne(48);
      @include summaryPhoneTwo(174px, 48px);

      // .phone-one {
      //   left: 48px;
      // }
      // .phone-two {
      //   margin-top: 174px;
      //   right: 48px;
      // }
    }
  }
}

.footer {
  margin: 0px auto;
  min-width: $minWidth;
  background: $black;
  > div {
    padding: 64px 112px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1440px;
    .left {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;

      .downloads-menu {
        align-items: flex-start;
        gap: 12px;
        color: $white;
        font-weight: 400;
        line-height: 150%;

        .downloads-list ul {
          gap: 24px;
        }

        .footer-menu ul {
          gap: 24px;
        }
      }

      .copyright {
        color: $neutral-300;
        font-size: 0.875em;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
      }
    }

    .right {
      align-items: flex-start;
      gap: 16px;

      h3 {
        color: $neutral-300;
        font-size: 1.125em;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 155.556% */
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    margin: 20px auto 0px;
    padding: 0px 40px;
  }

  nav.desktop {
    display: none;
  }

  .tablet {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .right-side {
      gap: 12px;
      .badges {
        gap: 16px;
      }
    }
  }

  .mobile-menu-icon {
    padding: 8px;
  }

  header {
    .header-section {
      padding: 80px 0px;
      gap: 80px;
      flex-direction: column;
      margin-top: 0px;
      align-items: center;
      
      .header-content {
        padding: 0px;
        align-items: flex-start;
        gap: 32px;
        max-width: fit-content;

        .header-content-description {
          align-items: flex-start;
          gap: 16px;

          h1 {
            color: $neutral-900;
            font-size: 48px;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: -1.2px;
          }

          p {
            color: $neutral-700;
            font-size: 1.125em;
            font-weight: 400;
            line-height: 28px; /* 155.556% */
          }
        }
      }
    }
  }

  .client-section {
    margin: -12px auto 16px;
    margin-top: -12px;
    padding: 0px 40px;

    div.flex {
      padding: 0px;
    }
  }

  .features-section {
    padding: 80px 40px;
    gap: 64px;

    .features-header {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h1 {
        color: $neutral-900;
        text-align: center;
        font-size: 2.25em;
        font-weight: 700;
        line-height: 125%;
        letter-spacing: -0.9px;
      }

      p {
        color: $neutral-900;
        text-align: center;
        font-size: 1.125em;
        font-style: normal;
        font-weight: 400;
        line-height: 155.556%;
      }
    }

    .features-list {
      row-gap: 64px;
      column-gap: 30px;
      flex-wrap: wrap;

      .features-list-single {
        max-width: 329px;

        .features-list-content {
          h1 {
            color: $neutral-900;
            text-align: center;
            font-size: 1.5em;
            font-weight: 700;
            line-height: 133.333%;
          }

          p {
            color: $neutral-700;
            text-align: center;
            font-size: 1em;
            font-weight: 400;
            line-height: 150%;
          }
        }
      }
    }
  }

  .stories-section {
    padding: 120px 40px 80px 40px;

    > div {
      align-items: flex-start;
      gap: 40px;

      .stories-section-title {
        display: flex;
        width: 688px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        div {
          position: relative;

          img {
            width: 142px;
            height: 116px;
            position: absolute;
            top: -56px;
            left: -20px;
          }

          h1 {
            position: relative;
            z-index: 1;
            color: $neutral-900;
            font-size: 2.25em;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: -0.9px;
          }
        }

        p {
          color: $neutral-900;
          font-size: 1.125em;
          font-weight: 400;
          line-height: 28px;
        }
      }

      .story {
        width: 100%;
      }

      .story-one {
        margin: 0px;
      }

      .story-two {
        margin: 0px;
      }

      .story-three {
        margin: 0px;
      }
    }
  }

  .achievements-section {
    align-items: flex-start;
    padding: 80px 40px;
    flex-direction: column;
    gap: 48px;

    .left-side {
      align-items: flex-start;
      gap: 8px;

      h1 {
        color: $neutral-900;
        font-size: 2.25em;
        font-weight: 700;
        line-height: 125%; /* 125% */
        letter-spacing: -0.9px;
      }

      p {
        color: $neutral-900;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 28px;
      }
    }

    .right-side {
      row-gap: 40px;
      column-gap: 32px;
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;

      .achieve-section {
        gap: 16px;
        justify-content: flex-start;
        width: 328px;

        div {
          align-items: flex-start;

          h1 {
            color: $neutral-900;
            font-size: 1.875em;
            font-weight: 700;
            line-height: 40px;
          }

          p {
            color: $neutral-900;
            font-size: 1em;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
  }

  .integrations-section {
    padding: 80px 40px;
    align-items: center;

    > div {
      align-items: flex-start;
      gap: 32px;
      border-top: 1px solid $neutral-200;
      .integrations-content {
        width: 328px;
        padding: 20px 0px;
        align-items: flex-start;
        gap: 8px;

        h1 {
          color: $neutral-900;
          font-size: 2.25em;
          font-weight: 700;
          line-height: 125%;
          letter-spacing: -0.9px;
        }

        p {
          color: $neutral-900;
          font-size: 1.125em;
          font-weight: 400;
          line-height: 28px; /* 155.556% */
        }
      }

      .integrations-box {
        position: relative;
        padding: 0px;

        .vector-background {
          width: 100%;
          position: relative;

          img {
            width: 100%;
          }
        }

        .integrations-logos {
          padding: 24px 28px 23px;
          position: absolute;
          top: 0px;
          left: 0px;
          gap: 39px;

          .row-1,
          .row-2 {
            gap: 39px;
            .logo-div {
              max-width: 40px;
              max-height: 40px;

              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .summary-section {
    padding: 80px 40px 0px 40px;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    > div {
      .summary-left {
        align-items: flex-start;
        gap: 48px;
        align-self: stretch;

        .title {
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;

          h1 {
            color: $neutral-900;
            font-size: 2.25em;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: -0.9px;
          }

          p {
            color: $neutral-900;
            font-size: 1.125em;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
          }
        }

        .title-buttons {
          align-items: flex-start;
          gap: 8px;

          p {
            color: $neutral-900;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px; /* 155.556% */
          }

          .store-buttons {
            align-items: flex-start;
            gap: 12px;
          }
        }
      }

      .summary-right {
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        @include summaryPhoneOne(48px);
        @include summaryPhoneTwo(174px, 48px);

        // .phone-one {
        //   left: 48px;
        // }
        // .phone-two {
        //   margin-top: 174px;
        //   right: 48px;
        // }
      }
    }
  }
  .footer {
    
    justify-content: space-between;
    align-items: flex-start;

    > div {
      padding: 64px 40px;
      .left {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        .downloads-menu {
          align-items: flex-start;
          gap: 12px;
          color: $white;
          font-weight: 400;
          line-height: 150%;

          .downloads-list ul {
            gap: 24px;
          }

          .footer-menu ul {
            gap: 24px;
          }
        }

        .copyright {
          color: $neutral-300;
          font-size: 0.875em;
          font-weight: 400;
          line-height: 20px; /* 142.857% */
        }
      }

      .right {
        align-items: flex-start;
        gap: 16px;

        h3 {
          color: $neutral-300;
          font-size: 1.125em;
          font-style: normal;
          font-weight: 500;
          line-height: 28px; /* 155.556% */
        }
      }
    }
  }
}

@media (max-width: 767px) {
  //      //mobile screeen
  header,
  .client-section {
    margin: 16px auto;
    padding: 0px 20px;

    div.flex {
      padding: 0px;
    }
  }
  nav.desktop {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .mobile-menu-icon {
    padding: 8px;
  }

  .nav-menu {
    &.mobile {
      display: none;
    }
  }
  header {
    .header-section {
      width: 100%;
      min-width: 335px;
      display: inline-flex;
      padding-bottom: 10px;
      align-items: center;
      gap: 40px;
      flex-direction: column;
      margin-top: 0px;

      .header-content {
        display: flex;
        padding: 40px 0px;
        align-items: flex-start;
        gap: 32px;

        .header-content-description {
          display: flex;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;

          h1 {
            color: $neutral-900;
            font-size: 2.25em;
            font-weight: 700;
            line-height: 125%; /* 125% */
            letter-spacing: -0.9px;
          }
          p {
            color: $neutral-700;
            font-size: 1.125em;
            font-weight: 400;
            line-height: 155.556%;
          }
        }
      }

      .header-mobile {
        padding: 0px 7px 0px 8px;

        img {
          width: inherit;
        }
      }
    }
  }

  .features-section {
    min-width: $minWidth;
    padding: 48px 20px;
    gap: 48px;

    .features-header {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h1 {
        color: $neutral-900;
        text-align: center;
        font-size: 2.25em;
        font-weight: 700;
        line-height: 125%;
        letter-spacing: -0.9px;
      }

      p {
        color: $neutral-900;
        text-align: center;
        font-size: 1.125em;
        font-style: normal;
        font-weight: 400;
        line-height: 155.556%;
      }
    }

    .features-list {
      gap: 48px;
      flex-direction: column;

      .features-list-single {
        max-width: 329px;

        .features-list-content {
          h1 {
            color: $neutral-900;
            text-align: center;
            font-size: 1.5em;
            font-weight: 700;
            line-height: 133.333%;
          }

          p {
            color: $neutral-700;
            text-align: center;
            font-size: 1em;
            font-weight: 400;
            line-height: 150%;
          }
        }
      }
    }
  }

  .stories-section {
    padding: 80px 20px 48px 20px;
    > div {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;

      .stories-section-title {
        align-items: flex-start;
        gap: 8px;
        width: auto;

        div {
          position: relative;

          img {
            width: 96px;
            height: 78px;
            position: absolute;
            top: -32px;
            left: -8px;
          }

          h1 {
            position: relative;
            z-index: 1;
            color: $neutral-900;
            font-size: 1.875em;
            font-weight: 700;
            line-height: 133.333%;
          }
        }

        p {
          color: $neutral-900;
          font-size: 1em;
          font-weight: 400;
          line-height: 150%;
        }
      }

      .story {
        width: 100%;
      }
      .story-one {
        margin: 0px;
      }

      .story-two {
        margin: 0px;
      }

      .story-three {
        margin: 0px;
      }
    }
  }

  .achievements-section {
    align-items: flex-start;
    flex-direction: column;
    padding: 48px 20px;
    gap: 48px;
    .left-side {
      align-items: flex-start;
      gap: 8px;
      h1 {
        color: $neutral-900;
        font-size: 1.875em;
        font-weight: 700;
        line-height: 125%;
        letter-spacing: -1.2px;
      }
      p {
        color: $neutral-900;
        font-size: 1em;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
      }
    }

    & .right-side {
      display: flex;
      gap: 24px;
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;

      .achieve-section {
        justify-content: flex-start;
        width: 50%;
        gap: 16px;

        div {
          align-items: flex-start;

          h1 {
            color: $neutral-900;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
          }

          p {
            color: $neutral-900;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
          }
        }
      }
    }
  }

  .integrations-section {
    min-width: $minWidth;
    padding: 40px 20px;
    align-items: center;

    > div {
      flex-direction: column;
      gap: 16px;
      border-top: 1px solid $neutral-200;
      .integrations-content {
        width: auto;
        padding: 20px 0px;
        align-items: flex-start;
        gap: 8px;

        h1 {
          color: $neutral-900;
          font-size: 30px;
          font-weight: 700;
          line-height: 40px;
        }

        p {
          color: $neutral-900;
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
        }
      }

      .integrations-box {
        max-width: 335px;
        position: relative;
        padding: 0px;

        .vector-background {
          width: 100%;
          position: relative;

          img {
            width: 100%;
          }
        }

        .integrations-logos {
          padding: 25px 28px 24px 29px;
          position: absolute;
          top: 0px;
          left: 0px;
          flex-wrap: wrap;
          row-gap: 40px;
          column-gap: 38.99px;

          .row-1,
          .row-2 {
            gap: 39px;
            .logo-div {
              max-width: 40px;
              max-height: 40px;

              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .summary-section {
    min-width: 375px;
    padding: 48px 20px 0px 20px;
    flex-direction: column;
    gap: 32px;

    > div {
      .summary-left {
        align-items: flex-start;
        gap: 48px;

        .title {
          align-items: flex-start;
          gap: 8px;

          h1 {
            color: $neutral-900;
            font-size: 1.875em;
            font-weight: 700;
            line-height: 40px; /* 133.333% */
            letter-spacing: 0px;
          }

          p {
            color: $neutral-900;
            font-size: 1em;
            font-weight: 400;
            line-height: 150%;
          }
        }

        .title-buttons {
          align-items: flex-start;
          gap: 8px;

          p {
            color: $neutral-900;
            font-size: 1.125em;
            font-weight: 500;
            line-height: 28px; /* 155.556% */
          }

          .store-buttons {
            align-items: flex-start;
            gap: 12px;
          }
        }
      }

      .summary-right {
        padding: 0px 51px 0px 52px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        @include summaryPhoneOne(0px);
        @include summaryPhoneTwo(0px, 0px);
      }
    }
  }

  .footer {
    

    > div {
      padding: 40px 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      .left {
        align-items: flex-start;
        gap: 24px;

        .downloads-menu {
          color: $white;
          font-size: 1em;
          font-weight: 400;
          line-height: 150%;
          align-items: flex-start;
          gap: 12px;

          .downloads-list ul {
            gap: 24px;
          }

          .footer-menu ul {
            justify-content: flex-start;
            flex-wrap: wrap;
            row-gap: 12px;
            column-gap: 24px;
          }
        }

        .copyright {
          color: $neutral-300;
          font-size: 0.875em;
          font-weight: 400;
          line-height: 20px; /* 142.857% */
        }
      }

      .right {
        color: $neutral-300;
        font-size: 1.125em;
        font-weight: 500;
        line-height: 28px; /* 155.556% */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }
    }
  }
}
