.check{
  width: 100%;
  background-image:var(--slds-c-alert-image-background, var(--sds-c-alert-image-background, linear-gradient(45deg, var(--slds-g-color-neutral-10-opacity-10, rgba(0, 0, 0, 0.025)) 25%, transparent 25%, transparent 50%, var(--slds-g-color-neutral-10-opacity-10, rgba(0, 0, 0, 0.025)) 50%, var(--slds-g-color-neutral-10-opacity-10, rgba(0, 0, 0, 0.025)) 75%, transparent 75%, transparent)));
  background-size: var(--slds-c-alert-size-background, var(--sds-c-alert-size-background, 64px 64px));
  background-color: #fe9339;
}

.stripe{
  background: linear-gradient(
  45deg,
  rgba(0, 0, 0, 0.2) 10px);
  width: 100%;
}